{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "search/form.html" %}

    <div id="results">
        {% include "search/results.html" %}
    <table class="table" align="center">
        <thead>
            <th>Date</th>
            <th>Handle</th>
            <th>Text</th>
            <th>Link</th>
        </thead>
        <tbody>
        {% if query %}
            {%  for q in query %}
            <tr>
                <td>{{ q.date }}</td>
                <td>{{ q.handle }}</td>
                <td>{{ q.text }}</td>
                <td><a href="{{ q.link }}">Link</a></td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
{% endblock content %}

{% block page_js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock page_js %}
