#search-form {
  padding-top: 15px;
  margin-bottom: -10px;
}

.search-input {
  margin-left: 20px;
  width: 70%;
  background-color: white;
}

.search-select {
    margin-top: -2px;
}

.search-button {
  width: 15%;
  background-color: #c41230;
  color: white;
  margin-top: -2px;
}

#search-form p {
    text-align: center;
}

#search-form p input {
    margin-left: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 542px) {
  .search-button {
    width: 100%;
    margin: 0px;
  }

  .search-input {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .search-select {
      width: 100%;
  }

  .results-label {
    width: 89%;
  }

  .search-result {
    width: 89%;
  }
}

#login-form {
    padding: 20px;
}

#login-form button {
    background: #c41230;
    border-color: #c41230;
    color: #fff;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#results {
    padding: 20px;
}

#results table th {
    border-bottom: 2px solid #666;
}

#results table td {
    border-bottom: 1px solid #ccc;
}

#results table tbody tr:hover {
    background-color: #dcdcdc;
}

#spinner {
    text-align: center;
}
